
{% extends main.html %}
{% block body %}
<div class="navbar" id="mainnav">

				<div class="navbar-inner">
					<a href="/box"class="brand"> Zefira </a>
					
					<ul class="nav pull-right">
				<li id="fat-menu" class="dropdown">
					<a class="dropdown-toggle" 
					data-toogle="dropdown"
					href="#">Account<b class="caret"> </b></a>
				
				<ul class="dropdown-menu" role="menu">
					<li> 
						<a href="/settings"> Settings </a></li>
					<li>	<a href="/profile"> Profile </a>
						</li>
						<li class="divider">
						</li>
						<li> <a href="/logout">Logout </a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-search pull-right" style="padding-right:30px">
						<input type="text" class="search-query" placeholder="Search"
						size="50">
					</form>
				</div>
			</div>
	<div class="container">
		
			<div class="centre">

	<div class="span10" id="contenido-principal">
		<div class="tab-pane" id="pills-basic">
		<div class="tababble">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="#box-panel" data-toggle="tab"> Beneficios</a>
			</li>
			<li> <a href="#personaliza-panel" data-toggle="tab">Personaliza </a> </li>

			<li><a href="#reservas-panel" data-toggle="tab"> Reservas </a>
				</li>
				
				<li> <a href="#grupos-panel" data-toggle="tab">Grupos </a>
				</li>
				

 			</ul>
			<div class="tab-content">
				<div id="box-panel" class="tab-pane active">
					


					{% if not benefits %}
					<h2><small> No estas siguiendo a ninguna empresa o las que estas siguiendo no han publicado nada aun.</small></h2>
					<p><small> Enterate quienes estan y que estan publicando <a href="/companies"> Aqui</a></small></p>
					{% end %}
					{% if benefits %}
					{% for benefit in benefits %}
					{{ modules.Benefit(benefit) }}
	
					{% end %}
    				{% end %}
    			</div>
    			<div id="personaliza-panel" class="tab-pane">
    				{% if not companies %}
    				<h2><small>No hay empresas disponibles </small></h2>
    				{% end %}
    				{% if companies %}
    					{% for company in companies %}
    						{{ modules.Company(company)}}
    					{% end %}
    				{% end %}		
    			</div>
    			<div id="reservas-panel" class="tab-pane">
    				<h1><small> En construccion reservas
    				</small></h1>
    			</div>
    			
    			<div id="grupos-panel" class="tab-pane">
    				<h1><small> En construccion grupos</small></h1>
    			</div>
    			
    		</div>
    	</div>
    </div>
		</div>		
    	</div>
	</div>
	</div>
    
	</div>

	
	
{% end %}	
 
