

{% extends main.html %}
{%block body %}
<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" id="logo" href="/"> Zefira</a>
			<ul class="nav pull-right">
				<li id="fat-menu" class="dropdown">
					<a class="dropdown-toggle" 
					data-toogle="dropdown"
					href="#">Log in <b class="caret"> </b></a>
				
				<ul class="dropdown-menu" role="menu">
					<li> 
						
						<form class="navform login" action="/login" method="post" accept-charset="UTF-8">
							{% raw xsrf_form_html() %}
  <input id="email" class="email" type="text" name="email" size="30" placeholder="E-mail" />
  <input id="password" type="password" name="password" size="30" placeholder="Contraseña"/>
  
  <input type="hidden" name="branch" id="branch" value="clientes" />
 
  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
</form>


					</li>
				</ul>
				</li>
			</ul>
		</div>
</div>	
 <div class="container">


<h1>Un mundo nuevo te espera <h1>
	<small > Ingresa a Zefira </small>

</div>

{% end %}

