{% autoescape None %}
{% extends main.html %}

{% block body %}
<div class="navbar" id="mainnav">

				<div class="navbar-inner">
					<a href="/box"class="brand"> Zefira </a>
					
					<ul class="nav pull-right">
				<li id="fat-menu" class="dropdown">
					<a class="dropdown-toggle" 
					data-toogle="dropdown"
					href="#">Account<b class="caret"> </b></a>
				
				<ul class="dropdown-menu" role="menu">
					<li> 
						<a href="/settings"> Settings </a></li>
					<li>	<a href="/profile"> Profile </a>
						</li>
						<li class="divider">
						</li>
						<li> <a href="/logout">Logout </a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-search pull-right" style="padding-right:30px">
						<input type="text" class="search-query" placeholder="Search"
						size="50">
					</form>
				</div>
</div>
<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">

</br>

	{% include "handle2.html" %}
				</div>
	<div class="span10" id="contenido-principal">

    	<div id="wrapper" class="container">
	
			<div id="page">
	
				{% if not companies %}
				<p> No hay empresa publicando contenido en estos momentos. Regresa aqui: <a href="/box"> Ir </a>
				{% end %}
				{% if companies %}
				{% for company in companies %}
				{{ modules.Company(company) }}
	
				{% end %}
    			{% end %}
			</div>

		</div>
	</div>
	
	</div>
  </div>

  {% end %}
