{% extends "main.html" %}


{% block body %}
<div class="navbar" id="mainbar">

		<div class="navbar-inner" id="mainnavbar">
			<a class="brand" id="logo" href="#"> <img src="{{static_url('img2.png')}}" /></a>
		</div>
	</div>
<div class="container">

  <div class="row">	
  <h1 class="text-center"> {{ header_text }} </br> 
  	<small>Development Version</small></h1>
  </div>
  <div class="presentation">
  	
  	</div>
  <div class="centre">
  </br></br>
  
  <div class="span4">
  <a href="/empresas" class="btn btn-primary btn-large btn-block">Empresas </a>
  </div>
  <div class="span4">
  <a href="/personas" class="btn btn-primary btn-large btn-block">Personas  </a>
  </div>
  </div>
</div>
{% end %}

