<div id="signupform" >

<form action="/signup" class="signup" method="post" id="form">
{% raw xsrf_form_html() %}

<input type="text" name="email" id="email" placeholder="E-mail"/>
<input type="text" name="nombre" placeholder="Nombre Empresa"/>
<textarea name="description" rows="10" cols="20" placeholder="Descripcion Negocio"></textarea>


<input type="text" name="password" id="password" placeholder="Contraseña"/>
<input type="text" name="confirm_password" id="confirm_password"placeholder="Repite contraseña" />



<input type="hidden" value="companies" name="branch" id="branch"/>
<input type="submit" class="btn btn-primary "value="Registrate" />

</form>
</div>