<div id="signupform" >

<form action="/signup" class= "signup" method="post" id="form">
{% raw xsrf_form_html() %}

<input type="text" name="email" id="email" placeholder="E-mail"/>
<input type="text" name="nombre" id="nombre" placeholder="Nombre"/>
<input type="text" name="apellido" id="apellido"placeholder="Apellido"/>

<input type="text" name="password" id="password" placeholder="Contraseña"/>
<input type="text" name="confirm_password" id="confirm_password"placeholder="Repite Contraseña" />
</br>

<input type="hidden" value="clientes" name="branch" id="branch"/>
<input type="submit" class="btn btn-primary "value="Registrate" />

</form>
</div>